<h3>Trades</h3>
<div id="container">
    <table class="table table-hover">
        <th>Employee</th>
        <th>Shift</th>
        <th>ReworkShift</th>
        <th>Accept</th>
        <tr *ngFor="let ts of tradeService.tradeList">
            <td >{{ts.RequestUser.Username}}</td>
            <td>{{ ts.Shift.Start | date : 'mediumDate'}}</td>
            <td>{{ ts.ReworkShift.Start | date : 'mediumDate' }}</td>
            <td>
                <button type="button" class="btn btn-secondary" (click)="acceptTrade(ts.TradeId)">Accept</button>
            </td>
        </tr>
    </table>
</div>