.table {
    border: 1px solid #ddd;
}

.table th {
padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.table td th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:hover {
    background-color: rgba(172, 172, 172, 0.945);
}

#createTrade {
    margin-bottom: 5px;
    margin-left: 450px;
}